{% extends 'base.html' %}
{% block content %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Libreria Lopes</title>
  <link rel="stylesheet" href="/static/elEstilo" type="text/css">
</head>
<body>
  <center>
    <h1>DATOS DE TU AUTOR FAVORITO</h2>
    </center>
    <h2>AUTOR</h2>
    <form method="post" action="{{url_for('insertar')}}">
      
      {{ form_autor.hidden_tag() }}
      <div class="row"> 
        <div class="col">
          {{form_autor.codigoAutor.label(class="form-label") }}
          {{form_autor.codigoAutor(class = "form-control")}}
        </div>
        <div class="col">
          {{form_autor.lugarAutor.label(class="form-label") }}
          {{form_autor.lugarAutor(class = "form-control")}}
          </div>
      </div>
      <br/>
      <div class="row"> 
        <div class="col">
          {{form_autor.nombreAutor.label(class="form-label") }}
          {{form_autor.nombreAutor(class = "form-control")}}
        </div>
        <div class="col">
        {{form_autor.apellidoAutor.label(class="form-label") }}
        {{form_autor.apellidoAutor(class = "form-control")}}
        </div>
      </div>
      <br/>
      <div class="row"> 
        <div class="col">
        {{form_autor.nacimientoAutor.label(class="form-label") }}
        {{form_autor.nacimientoAutor(class = "form-control")}}
        </div>
        <div class="col">
        {{form_autor.fallecimientoAutor.label(class="form-label") }}
        {{form_autor.fallecimientoAutor(class = "form-control")}}
        </div>
      </div>
      <br/>
      <h2>LIBRO</h2>
      <div class="row"> 
        <div class="col">
        {{form_libros.codigoLibros.label(class="form-label") }}
        {{form_libros.codigoLibros(class = "form-control")}}
        </div>
        <div class="col">
        {{form_libros.fecPublicLibros.label(class="form-label") }}
        {{form_libros.fecPublicLibros(class = "form-control")}}
        </div>
      </div>
      <br/>
      <div class="row"> 
        <div class="col">
        {{form_libros.generoLibros.label(class="form-label") }}
        {{form_libros.generoLibros(class = "form-control")}}
        </div>
        <div class="col">
        {{form_libros.tituloLibros.label(class="form-label") }}
        {{form_libros.tituloLibros(class = "form-control")}}
        </div>
      </div>
    <br>
        <input class="btn btn-primary" type="submit" value="AGREGAR">
      </form>
      <br>
      <br>
      <br>
</body>
<footer>

</footer>

{% endblock %}